#navBar {
  position: absolute;
  color: antiquewhite;
  z-index: 10;
}

#touchControls {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}

.HomeScreen,
.LoadingScreen {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: antiquewhite;
}

.HomeScreen a,
.LoadingScreen a {
  color: cadetblue;
  text-decoration: none;
}

.blink {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
    /* font-weight: bolder; */
  }
}

.ThreeApp {
  height: 100%;
}

.ThreeApp > canvas {
  position: absolute;
}

.ThreeStats {
  position: fixed;
  right: 0px;
  bottom: 0%;
}

.ThreeStats > div {
  position: unset !important;
}

/* 
.LoadingScreen .logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .LoadingScreen .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.bottom {
  margin: 0;
  position: absolute;
  bottom: 0%;
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}

.right {
  margin: 0;
  position: absolute;
  /* top: 50%; */
  right: 2%;
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}
